<!doctype html>
<html>
<head>
    <title>Instructors Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/instructor.css" rel="stylesheet">
	{{> homeButton}}
</head>
<body>


    <h4>Contacts</h4>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		<div class="instructors">
		  {{#each instructors}}
		  <div class="images">
		    <ol>	
					<img src={{image}} class="images">
					<p class="names"> Name: {{name}}</p>
					<p class="bios"> Biography: {{bio}}</p>
					<p>Email: <a href="mailto:{{email}}">{{email}}</a></p>
					<p>Phone: <a href="tel:{{phone}}">{{phone}}</a></p>
				</a>
		    </ol>
		    <hr>
			</div>
		  {{/each}}
		</div>
		{{!--
		<div class="instructors" id="instructor1">
			<a href="" class="thumbnail">
				<img src="/pictures/louis.png"  class="img">
				<p>Louis Armstrong</p>
                <p> information: blah blah</p>
			</a>
		</div>
		<div class="instructors" id="instructor2">
			<a href="#" class="thumbnail">
				<img src="/pictures/nina.png" alt="Lorem Pixel image" class="img">
				<p>Nina Simone</p>
                 <p> information: blah blah</p>
			</a>
		</div>
		<div class="instructors" id="instructor3">
			<a href="#" class="thumbnail">
				<img src="/pictures/charlie.png" alt="Lorem Pixel image" class="img">
				<p>Charlie Parker</p>
                 <p> information: blah blah</p>
			</a>
		</div> --}}

</body>


</html>